@import url('normalize.css');
@import url('bootstrap/bootstrap');
@import url('jquery.fullpage.css');
@import url('font-awesome.css');

@font-face {
  font-family: 'PublicaSans-Light';
  src: url('../fonts/PublicaSans-Light.eot'); 
  src: url('../fonts/PublicaSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PublicaSans-Light.woff2') format('woff2'), 
       url('../fonts/PublicaSans-Light.woff') format('woff'), 
       url('../fonts/PublicaSans-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'PublicaSans-Bold';
  src: url('../fonts/PublicaSans-Bold.eot'); 
  src: url('../fonts/PublicaSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PublicaSans-Bold.woff2') format('woff2'), 
       url('../fonts/PublicaSans-Bold.woff') format('woff'), 
       url('../fonts/PublicaSans-Bold.ttf')  format('truetype');
}
/*settings*/
@font-reg: 'PublicaSans-Light';
@font-bold: 'PublicaSans-Bold';
@color-blue: #01007f;
@color-bluelighter: #471ec4;
@color-white: #fff;
@color-black: #000;
@color-gray: #404041;
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.transform (@transform) {
	-ms-transform: @transform;
	-webkit-transform: @transform;
	transform: @transform;
}
/*settings*/

body {
	font-family: @font-reg;
}

#masthead {
	background-color: @color-gray;
	margin: 0;
	padding: 12px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:9;
	.vcenter {
		vertical-align: middle;
		display: inline-block;
		float: none;
	}
	.third {
		text-align: right;
	}
	.second {
		text-align: center;
	}
}
.site-title {
	margin: 0;
	height: 31px;
	a {
		background: transparent url(../imgs/logo.jpg) no-repeat center;
		display: inline-block;
		margin: 0;
		width: 161px;
		height: 31px;
		text-indent: -1000px;
		overflow: hidden;
	}
}
.menu-toggle {
	a {
		display: inline-block;
		background: transparent url(../imgs/menu-toggle.png) no-repeat center;
		width: 44px;
		height: 32px;
		text-indent: 1000px;
		overflow: hidden;
	}
}
#primary-menu {
	margin: 0;
	padding: 0;
	li  {
		display: inline-block;
		border-right: 2px solid @color-white;
		line-height: 18px;
		&:last-child {
			border: none;
		}
	}
	a {
		line-height: 18px;
		text-transform: uppercase;
		color: @color-white;
		font-size: 18px;
		padding-left: 12px;
		padding-right: 12px;
		&:hover {
			text-decoration: none;
		}
	}
}
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: @color-blue;
  overflow-x: hidden;
  transition: 0.5s;
  .transition(all 0.23s ease-in-out);
  .overlay-content {
    // position: relative;
    // top: 25%;
    // width: 100%;
    // text-align: center;
    // margin-top: 30px;
    &.single {
    	width: 50%;
    // 	ul {
				// padding-left: 250px;
    // 	}
    }
    &.double {
    	width: 25%;
    }
  }
  ul {
  	padding: 0;
  	margin: 0;
  	list-style: none;
  	li {
  		display: block;
  	}
  }
  .menu-item {
  	padding-left: 65px;
  	padding-right: 65px;
  	a {
  	  padding: 4px;
  	  text-decoration: none;
  	  font-size: 36px;
  	  color: @color-white;
  	  transition: 0.3s;
  	  text-transform: uppercase;
  	  display: inline-block;
	  position: relative;
  	  &:before {
  	    content: '';
  	    width: 100%;
  	    height: 8px;
  	    background-color: fade(#ff9e00,65%);
  	    display: inline-block;
  	    position: absolute;
  	    top: 48%;
  	    left: -1px;
  	    .transform(rotate(-6deg));
  	    opacity: 0;
  	    .transition(opacity .2s ease-in-out);
  	  }
  	  &:hover,&:focus,&:active {
  	  	outline: none;
  	  	&:before {
  	  		opacity: 1;
  	  	}
  	  }
  	}
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;    
    display: inline-block;
    background: transparent url(../imgs/close-btn.png) no-repeat center;
    width: 41px;
    height: 25px;
    text-indent: 1000px;
    overflow: hidden;
  }
  .menu-logo {
  	background: url(../imgs/logo-lg.jpg) no-repeat 0 0;
  	text-indent: -1000px;
  	overflow: hidden;
  	width: 586px;
  	height: 119px;
  }
}
.menu-container {
	display: table;
	width: 100%;
	height: 100%;
	.menu-logo-wrapper {
		width: 50%;
		padding-left: 100px;
	}
	.first-menu {
		.transition(width .225s ease-in);
		.sub-menu {
			display: none;
		}
	}
	.menu-logo-wrapper,
	.first-menu,
	.second-menu {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
	}
	.second-menu {
		// display: none;
		// width: 0;
		overflow: hidden;
		width: 0;
		background-color: @color-bluelighter;
		.transition(width .225s ease-in);
		ul {
			width: 0;
		}
	}
}

#post-28 {
	h1.entry-title {
		display: none;
	}
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

#fullpage {
	.section {
		background-size: cover;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		position: relative;
		p {
			margin: 0;
		}
		.desc {
			color: @color-white;
		}
		.highlighted {
			background-color: @color-blue;
			display: inline-block;
			padding: 3px 20px;
			font-family: @font-bold;
			font-style: normal;
			padding-left: 55px;
			margin-left: -52px;
			text-transform: uppercase;
		}
		em {
			font-size: 60px;
			line-height: normal;
		}
		.arrow-down {
			width: 13px;
			height: 40px;
			display: inline-block;
			background: transparent url(../imgs/arrow-down.png) no-repeat center;
			position: absolute;
			bottom: 30px;
			left: 50%;
			margin-left: -7px;
			z-index: 4;
		}
		.bar-wrapper {
			img {
				position: absolute;
				right: 30px;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}
	}
	#section-one {
		// background-image: url(../imgs/smoke.jpg);
		background-color: #8C8DC6;
		.smoke1 {
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: cover;
			&.active {
				opacity: 1;
			}
		}
		.smoke1 {
			background-image: url(../imgs/smoke.jpg);
		}
		h1 {
			margin: 0;
			text-align: center;
			line-height: normal;
			position: relative;
			z-index: 1;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			span {
				background: transparent url(../imgs/inform-logo-lg.png);
				width: 600px;
				height: 119px;
				text-indent: -1000px;
				overflow: hidden;
				display: block;
				margin: 0 auto;
			}
		}
		.h1-wrapper {
			display: table;
			width: 100%;
			height: 100%;
		}
	}
	#section-two {
		background-image: url(../imgs/stairs.jpg);
		.right {
			position: absolute;
			right: 0;
			top: 0;
			width: 29%;
			height: 100%;
			// background: transparent url(../imgs/blue-overlay.png) no-repeat 90% 0;
			// background-size: auto 100%;
			.inner {
				color: @color-white;
				position: absolute;
				bottom: 12%;
				width: 53%;
				left: 12%;
				line-height: normal;
			}
		}
		.left {
			position: absolute;
			left: 52px;
			top: 180px;
		}
	}
	#section-three {
		background-image: url(../imgs/bulb.jpg);
		.bar-wrapper {
			img {
				width: 62%;
			}
		}
		.left {
			position: absolute;
			left: 0;
			top: 0;
			width: 46%;
			height: 100%;
			// background: transparent url(../imgs/blue-overlay.png) no-repeat 90% 0;
			// background-size: auto 100%;
			.inner {
				color: @color-white;
				position: absolute;
				bottom: 17%;
				width: 34%;
				left: 45%;
				line-height: normal;
			}
		}
		.right {
			text-align: right;
			padding-right: 100px;
			position: absolute;
			right: 0;
			bottom: 6%;
			.highlighted {
				margin-right: -99px;
				padding-right: 94px;
				margin-top: 8px;
			}
		}
	}
	#section-four {
		background-image: url(../imgs/telescope.jpg);
		.center {
			position: absolute;
			left: 50%;
			margin-left: -14%;
			top: 0;
			width: 28%;
			height: 100%;
			// background: transparent url(../imgs/blue-overlay.png) no-repeat 90% 0;
			// background-size: auto 100%;
			.inner {
				color: @color-white;
				position: absolute;
				bottom: 28%;
				width: 55%;
				left: 14%;
				line-height: normal;
			}
		}
		.left {
			position: absolute;
			left: 0;
			bottom: 33%;
			.desc {
				padding-left: 100px;
			}
			.highlighted {
				margin-left: -102px;
				padding-left: 106px;
			}
		}
	}
}
#section-five {
	background: transparent url(../imgs/bg-home-logos.jpg) repeat 0 0;
	#home-logos {
		overflow: hidden;
		padding-top: 30px;
		padding-bottom: 30px;
		.item {
			height: 167px;
			background-color: @color-black;
			margin: 30px 0;
		}
		.item-2 {
			height: 363px;
		}
	}
}
#section-six {	
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	.carousel-description {
		text-align: center;
		margin-top: 40px;
		.message span {
			background-color: @color-bluelighter;
			color: @color-white;
			font-size: 24px;
			line-height: 110%;
			font-family: @font-bold;
			display: inline;
		}
		.cname {
			margin-top: 10px;
			font-style: italic;
			text-transform: uppercase;
			color: @color-black;
		}
	}
	.rope {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		height: 50px;
		background: transparent url(../imgs/rope.jpg) repeat-x 0 0;
	}
	.thumbnail {
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: top center;
		border: none;
		padding: 116px 0 0;
		&.thumb-1 {
			background-image: url(../imgs/frame-1.png);
			width: 172px;
			height: 256px;
		}
		&.thumb-2 {
			background-image: url(../imgs/frame-2.png);
			width: 158px;	
			height: 253px;
		}
		&.thumb-3 {
			background-image: url(../imgs/frame-3.png);
			width: 162px;	
			height: 254px;
		}
		&.thumb-4 {
			background-image: url(../imgs/frame-4.png);
			width: 163px;	
			height: 251px;
		}
		&.thumb-5 {
			background-image: url(../imgs/frame-5.png);
			width: 155px;	
			height: 254px;
		}
	}
	.carousel {
	  position: relative;
	  top: 18px;
	}

	.carousel-inner {
	  position: relative;
	  overflow: hidden;
	  width: 100%;

	  > .item {
	    display: inline-block;
	    position: relative;
	    float: left;
	    margin: 0 15px;
	    /*.transition(.6s ease-in-out left);*/
			
	    br,.colored {
	    	display: none;
	    }

	    &.active {
	    	.black {
	    		display: none;
	    	}
	    	.colored {
	    		display: block;
	    	}
	    }

	    .carousel-caption {
	    	display: none;
	    }

	    > img,
	    > a > img {
	      &:extend(.img-responsive);
	      line-height: 1;
	    }

	    // WebKit CSS3 transforms for supported devices
	    @media all and (transform-3d), (-webkit-transform-3d) {
	      .transition-transform(none);
	      /*.backface-visibility(~'hidden');*/
	      .perspective(none);

	      &.next,
	      &.active.right {
	        /*.translate3d(100%, 0, 0);*/
	        transform: none;
	        /*left: 0;*/
	        left: auto;
	      }
	      &.prev,
	      &.active.left {
	        /*.translate3d(-100%, 0, 0);*/
	        transform: none;
	        /*left: 0;*/
	        left: auto;
	      }
	      &.next.left,
	      &.prev.right,
	      &.active {
	        /*.translate3d(0, 0, 0);*/
	        transform: none;
	        /*left: 0;*/
	        left: auto;
	      }
	    }
	  }

	  > .active,
	  > .next,
	  > .prev {
	    display: inline-block;
	  }

	  > .active {
	    /*left: 0;*/
	    left: auto;
	  }

	  > .next,
	  > .prev {
	    position: relative;
	    top: auto;
	    /*width: 100%;*/
	    width: auto;
	  }

	  > .next {
	    /*left: 100%;*/
	    left: auto;
	  }
	  > .prev {
	    /*left: -100%;*/
	    left: auto;
	  }
	  > .next.left,
	  > .prev.right {
	    left: 0;
	  }

	  > .active.left {
	    /*left: -100%;*/
	    left: auto;
	  }
	  > .active.right {
	    /*left: 100%;*/
	    left: auto;
	  }

	}
}

#section-seven {
	position: relative;
	.address-overlay {
		background: transparent url(../imgs/blue-overlay.png) no-repeat 0 0;
		background-size: auto 100%;
		position: absolute;
		right: 8%;
		bottom: 0;
		height: 100%;
		width: 29%;
		.address-inner {
			color: @color-white;
			position: absolute;
			left: 25%;
			font-size: 30px;
			width: 57%;
			top: 36%;
		}
	}
}
#section-eight {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	.blue-bar {
		background: transparent url(../imgs/blue-overlay.png) no-repeat 0 0;
		background-size: auto 100%;
		position: absolute;
		top: 0;
		left: 23%;
		width: 22%;
		height: 100%;
		.inner {
			color: @color-white;
			font-size: 52px;
			position: absolute;
			right: 18%;
			top: 7%;
			line-height: normal;
			text-align: right;
			strong {
				font-weight: normal;
				font-family: @font-bold;
			}
		}
	}
	.bg-contact {
		position: absolute;
		left: 0;
		top: 0;
		width: 57%;
		height: 100%;
		background: @color-white url(../imgs/bg-contact.jpg) no-repeat bottom center;
		background-size: cover;
		z-index: -1;
	}
	.form-control {
		background-color: #e8e8e8;
		color: @color-black;
		font-style: italic;
		border: none;
		border-radius: 0;
		font-size: 16px;
		box-shadow: none;
	}
	.btn {
		color: @color-blue;
		font-style: italic;
		font-size: 20px;
		border-radius: 0;
		border: 3px solid @color-blue;
		background-color: transparent;
		box-shadow: none;
		padding-top: 6px;
		padding-bottom: 6px;
	}
}
#section-nine {
	background-color: @color-bluelighter;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-right: 15px;
			margin-left: 15px;
		}
		a {
			color: @color-white;
			text-transform: uppercase;
			font-size: 20px;
			display: inline-block;
			padding: 20px;
		}
	}
}
.site-footer {
	background-color: @color-blue;
	color: @color-white;
	padding-top: 40px;
	padding-bottom: 40px;
	.logo-footer {
		background: @color-blue url(../imgs/footer-logo.jpg) no-repeat 0 0;
		display: inline-block;
		width: 161px;
		height: 35px;
		margin-right: 12px;
		position: relative;
		top: 2px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin: 0 12px;
		}
		a {
			display: inline-block;
			color: @color-white;
		}
	}
	.left {
		text-align: right;
		p {
			margin: 0;
			display: inline-block;
		}
	}
	.right {
		span {
			float: left;
			margin-right: 24px;
		}
		.inner {
			padding-left: 75px;
			padding-top: 15px;
		}
	}
}

.col-half-offset{
  margin-left:4.166666667%
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 1024px) {
	// @import url('breakpoints/1024');
}

@media only screen and (max-width: 800px) {
	// @import url('breakpoints/800');
}

@media only screen and (max-width: 767px) {
	// @import url('breakpoints/767');
}

@media only screen and (max-width: 414px) {
	// @import url('breakpoints/414');
}